<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
    <link href="resources/css/bootstrap.min.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/tether.min.css" type="text/css" rel="stylesheet"/>
    <script src="resources/js/jquery-3.2.1.min.js"></script>
    <script src="resources/js/tether.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Welcome!</h1>

Hello Kincso!

<table class="table">
    <tr>
        <th>Id</th>
        <th>UserName</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Johny</td>
    </tr>
</table>

</body>
</html>